@import "./settings/mediaQuery";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.home {
    position: relative;

    @include mobile {
        overflow-x: hidden;
    }

    .bg {
        position: absolute;
        top: -1%;
        right: -1%;
        z-index: 0;

        @include mobile {
            top: 4.5%;
            right: -15%;
            width: 50%;
        }
    }

    .all_sections {
        width: 100%;
        height: 100%;
        font-family: 'Poppins', sans-serif;

        .section_one {
            width: 100%;
            height: 100vh;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile {
                width: 100%;
                height: initial;
                margin-top: 2em;
            }

            .section_one_content {
                width: 90%;
                height: 90%;
                z-index: 1;

                .toolbar {
                    background: transparent;

                    .space {
                        display: none;
                    }

                    .menu_btn {
                        display: none;

                        @media (max-width: 897px) {
                            display: initial;
                        }
                    }

                    .img {
                        width: 3em;
                        height: auto;

                        @include mobile {
                            width: 2em;
                        }
                    }

                    .toolbar_title {
                        color: #2E0838;
                        font-weight: 800;

                        @include mobile {
                            font-weight: 400;
                            font-size: 1em;
                        }
                    }

                    .links {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        @media (max-width: 897px) {
                            display: none;
                        }

                        .hrefs {
                            a {
                                text-decoration: none;
                                color: #2E0838;
                            }
                        }

                        .btn {
                            background: #FA4D68;
                            color: #fff;
                        }
                    }
                }

                .hero {
                    width: 100%;
                    height: 90%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: transparent;

                    @include mobile {
                        flex-direction: column;
                    }

                    .left_side {
                        width: 50%;

                        @include mobile {
                            width: 100%;
                            text-align: center;
                            margin-top: 3em;
                        }

                        .left_content {
                            width: 70%;

                            @media (max-width: 1138px) {
                                width: 100%;
                            }

                            @include mobile {
                                width: 100%;
                            }

                            .p1 {
                                font-size: 2.5em;
                                font-weight: 800;
                                color: #2E0838;

                                @include mobile {
                                    width: 100%;
                                    font-size: 2em;
                                }

                                span {
                                    color: #FA4D68;
                                }
                            }

                            .p2 {
                                font-size: 1.2em;
                                color: #979797;

                                @include mobile {
                                    font-size: 1em;
                                    color: rgba(0, 0, 0, 0.9);
                                    width: 85%;
                                    display: block;
                                    margin: auto;
                                }
                            }

                            .btn {
                                background: #FA4D68;
                                color: #fff;
                                width: 40%;

                                @include mobile {
                                    width: 65%;
                                }
                            }
                        }
                    }

                    .right_side {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        @include mobile {
                            width: 100%;
                            margin-top: 3em;
                        }

                        .right_content {
                            width: 80%;
                            height: 60%;
                            position: relative;

                            @media (max-width: 1138px) {
                                width: 100%;
                            }

                            @include mobile {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .card {
                                width: 100%;
                                height: 100%;
                                border-radius: 30px;
                                position: absolute;
                                background: #ffffff;
                                box-shadow: 5px 5px 34px #92929236,
                                    -5px -5px 34px #7c7c7c3d;

                                // @include mobile {
                                //     position: initial;
                                // }
                            }

                            img {
                                position: absolute;
                                top: -20%;
                                left: 6%;
                                width: 100%;
                                height: auto;


                                @media (max-width: 1138px) {
                                    top: 0%;
                                    left: 6%;
                                }

                                @include mobile {
                                    position: relative;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section_two {
            width: 100%;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5em;

            @include mobile {
                margin-top: 3em;
            }

            .bg {
                position: absolute;
                top: -1%;
                right: -5%;
                z-index: 0;
                width: 20%;
            }

            .section_two_content {
                width: 90%;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .p1 {
                    font-size: 1.5em;
                    font-weight: 800;
                    color: #FA4D68;

                    @include mobile {
                        font-size: 1.2em;
                    }
                }

                .p2 {
                    font-size: 2.5em;
                    font-weight: 800;
                    color: #2E0838;

                    @include mobile {
                        font-size: 1.2em;
                    }
                }

                .p3 {
                    color: #979797;
                    font-size: 1.2em;

                    @include mobile {
                        font-size: 1em;
                    }
                }

                .p4 {
                    color: #979797;
                    font-size: 1.2em;
                    margin-top: 1em;

                    @include mobile {
                        font-size: 1em;
                    }
                }
            }
        }

        .section_three {
            width: 100%;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4em;

            @include mobile {
                flex-direction: column;
            }

            .bg {
                position: absolute;
                top: 60%;
                right: -5%;
                z-index: 0;
                width: 20%;

                @include mobile {
                    display: none;
                }
            }

            .section_three_content {
                width: 90%;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                }

                .left_side {
                    width: 60%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    position: relative;

                    &::after {
                        content: 'Team Work';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: #FA4D68;
                        z-index: 2;
                        opacity: .4;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        color: #fff;
                        font-size: 3em;
                        font-weight: 600;
                        padding: .5em;
                    }

                    @include mobile {
                        width: 100%;
                        margin-bottom: .4em;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }


                .right_side {
                    width: 38%;

                    @include mobile {
                        width: 100%;
                    }

                    .images {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;

                        .img {
                            width: 94%;
                            height: auto;

                            &:first-child {
                                margin-top: 0%;
                                margin-bottom: 2%;
                                clip-path: polygon(0 19%, 100% 19%, 100% 100%, 0% 100%);
                                position: relative;

                                &::after {
                                    content: 'Believe';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: #FA4D68;
                                    z-index: 2;
                                    opacity: .4;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-end;
                                    color: #fff;
                                    font-size: 2em;
                                    font-weight: 600;
                                    padding: .5em;
                                }
                            }

                            &:last-child {
                                clip-path: polygon(0 0, 100% 0, 100% 81%, 0 81%);
                                position: relative;

                                &::after {
                                    content: 'Approach';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: #FA4D68;
                                    z-index: 2;
                                    opacity: .4;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-end;
                                    color: #fff;
                                    font-size: 2em;
                                    font-weight: 600;
                                    padding: 1em;
                                    padding-bottom: 2.2em;
                                }
                            }

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        // img {
                        //     width: 94%;
                        //     height: auto;

                        //     @include mobile {
                        //         width: 100%;
                        //     }

                        //     &:first-child {
                        //         margin-top: 0%;
                        //         margin-bottom: 2%;
                        //         clip-path: polygon(0 17%, 100% 17%, 100% 100%, 0% 100%);
                        //     }

                        //     &:last-child {
                        //         clip-path: polygon(0 0, 100% 0, 100% 83%, 0 83%);
                        //     }
                        // }
                    }
                }
            }
        }

        .section_four {
            width: 100%;
            height: 35vh;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4em;

            @include mobile {
                height: initial;
                flex-direction: column;
            }

            .section_four_content {
                width: 90%;
                height: 100%;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    height: initial;
                    flex-direction: column;
                }

                .card {
                    width: 32%;
                    height: 100%;
                    border: .2px solid rgba(0, 0, 0, 0.349);

                    @include mobile {
                        width: 100%;
                        border: none;
                    }

                    .card_head {
                        width: 100%;
                        height: 4em;
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 1em 0 0 1em;

                        @include mobile {
                            justify-content: center;
                        }

                        .text {
                            color: #2E0838;
                            font-size: 2em;
                            font-weight: 800;
                            z-index: 1;

                            @include mobile {
                                font-size: 1.3em;
                            }
                        }

                        .shape {
                            background: #FA4D68;
                            width: 30%;
                            height: 2em;
                            clip-path: polygon(12% 0, 100% 0%, 89% 100%, 0 100%);
                            position: absolute;
                            bottom: 10%;

                            @include mobile {
                                left: 30%;
                                bottom: 15%;
                                height: 1.2em;
                            }
                        }
                    }

                    .body {
                        width: 100%;
                        height: auto;
                        padding: 1em;

                        p {
                            font-size: 1.2em;

                            @include mobile {
                                font-size: 1em;
                                color: rgba(0, 0, 0, 0.9);
                            }
                        }
                    }
                }
            }
        }

        .section_five {
            width: 100%;
            height: 35vh;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8em;

            @include mobile {
                height: initial;
                flex-direction: column;
                margin-top: 2em;
            }

            .section_five_content {
                width: 90%;
                height: 100%;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    flex-direction: column;
                }

                .sides {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include mobile {
                        flex-direction: column;
                    }

                    .left_part {
                        width: 45%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include mobile {
                            width: 100%;
                        }

                        .card {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            .img {
                                width: 80%;
                                height: 100%;
                                border-radius: 30px;
                                background: #e0e0e0;
                                box-shadow: 20px 20px 60px #d9d9d9,
                                    -20px -20px 60px #e7e7e7;

                                @include mobile {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .right_part {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        @include mobile {
                            width: 100%;
                            margin-top: 3em;
                        }

                        .right_part_content {
                            width: 80%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;

                            @include mobile {
                                width: 100%;
                            }

                            .p1 {
                                font-size: 1.2em;
                                font-weight: 800;
                                color: #FA4D68;
                            }

                            .p2 {
                                color: #2E0838;
                                font-size: 2em;
                                font-weight: 800;

                                @include mobile {
                                    font-size: 1.5em;
                                }
                            }

                            .p3 {
                                color: #979797;
                                font-size: 1.2em;

                                @include mobile {
                                    font-size: 1em;
                                    color: rgba(0, 0, 0, 0.9);
                                }
                            }

                            .btn {
                                background: #FA4D68;
                                color: #fff;
                                width: 40%;

                                @include mobile {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section_six {
            width: 100%;
            height: 80vh;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8em;
            background: #F5F5F5 0% 0% no-repeat padding-box;

            @include mobile {
                flex-direction: column;
                height: initial;
                margin-top: 2em;
            }

            .section_six_content {
                width: 90%;
                height: 100%;
                z-index: 1;
                display: flex;
                flex-direction: column;

                .head {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    @include mobile {
                        margin: 3em 0;
                    }

                    .p1 {
                        color: #2E0838;
                        font-size: 2em;
                        font-weight: 800;

                        @include mobile {
                            font-size: 1.5em;
                        }
                    }

                    .p2 {
                        color: #979797;
                        font-size: 1.2em;

                        @include mobile {
                            font-size: 1em;
                            color: rgba(0, 0, 0, 0.9);
                        }
                    }
                }

                .cards {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include mobile {
                        flex-direction: column;
                    }

                    .card {
                        width: 28%;
                        transition: .3s ease-in-out;
                        padding: 1em;
                        cursor: pointer;

                        @include mobile {
                            width: 100%;
                            margin: 1em 0;
                        }

                        &:hover {
                            border-radius: 30px;
                            background: #ffffff;
                            box-shadow: 20px 20px 60px #d9d9d9,
                                -20px -20px 60px #ffffff;
                        }

                        .head {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;

                            @include mobile {
                                align-items: center;
                            }

                            img {
                                width: 15%;
                                height: auto;

                                @include mobile {
                                    width: 13%;
                                }
                            }

                            p {
                                color: #2E0838;
                                font-size: 1.2em;
                                font-weight: 800;
                                text-align: left;
                            }
                        }

                        .body {
                            width: 100%;

                            p {
                                color: #979797;
                                font-size: 1.1em;

                                @include mobile {
                                    font-size: 1em;
                                    color: rgba(0, 0, 0, 0.9);
                                }
                            }
                        }
                    }
                }
            }
        }

        .section_seven {
            width: 100%;
            height: 80vh;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4em;

            @include mobile {
                flex-direction: column;
                height: initial;
            }

            .section_seven_content {
                width: 90%;
                height: 100%;
                z-index: 1;
                display: flex;
                flex-direction: column;

                .head {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    @include mobile {
                        align-items: center;
                    }

                    .p1 {
                        font-size: 1.2em;
                        color: #FA4D68;
                        font-weight: 800;
                    }

                    .p2 {
                        font-size: 2em;
                        color: #2E0838;
                        font-weight: 800;
                        margin-top: -.5em;

                        @include mobile {
                            font-size: 1.5em;
                        }
                    }
                }

                .cards {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    @include mobile {
                        flex-direction: column;
                        margin-top: 2em;
                    }

                    .card {
                        width: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include mobile {
                            width: 100%;
                            margin-bottom: 2em;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        img {
                            width: 100%;
                        }
                    }
                }

                .foot {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .btn {
                        background: #FA4D68;
                        color: #fff;
                        width: 20%;

                        @include mobile {
                            width: 70%;
                        }
                    }
                }
            }
        }

        .section_eight {
            width: 100%;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4em;
            background: #FBFBFB 0% 0% no-repeat padding-box;

            @include mobile {
                flex-direction: column;
                height: initial;
            }

            .bg {
                position: absolute;
                top: 60%;
                left: -5%;
                z-index: 1;
                width: 20%;
                transform: scaleX(-1);

                @include mobile {
                    width: 30%;
                    top: 45%;
                }
            }

            .section_eight_content {
                width: 90%;
                height: 100%;
                z-index: 1;
                display: flex;
                flex-direction: column;

                @include mobile {
                    margin: 2em 0;
                }

                .head {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .p1 {
                        color: #FA4D68;
                        font-size: 1.2em;
                        font-weight: 800;
                    }

                    .p2 {
                        color: #2E0838;
                        font-size: 2em;
                        font-weight: 800;
                        margin-top: -.5em;

                        @include mobile {
                            font-size: 1.5em;
                        }
                    }
                }

                .cards {
                    width: 100%;
                    height: 10em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include mobile {
                        flex-wrap: wrap;
                    }

                    .card {
                        width: 23%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include mobile {
                            width: 45%;
                        }

                        p {
                            font-size: 2em;
                            color: #979797;
                            width: 90%;
                            font-weight: 800;

                            @include mobile {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }

        .section_nine {
            width: 100%;
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4em;

            @include mobile {
                flex-direction: column;
                height: initial;
            }

            .section_nine_content {
                width: 90%;
                height: 100%;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    flex-direction: column;
                }

                .left_side {
                    width: 48%;

                    @include mobile {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .right_side {
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    @include mobile {
                        width: 100%;
                    }

                    .p1 {
                        font-size: 2em;
                        font-weight: 800;
                        color: #2E0838;
                        width: 80%;

                        @include mobile {
                            width: 100%;
                            font-size: 1.5em;
                        }
                    }

                    .p2 {
                        font-size: 1em;
                        color: #979797;
                        width: 80%;

                        @include mobile {
                            color: rgba(0, 0, 0, 0.9);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}